<p>
  hi {{ name }} of age {{ age }} <br />
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi incidunt
  recusandae autem? Delectus voluptatum et non aspernatur! Voluptatum, error.
  Repellendus reprehenderit labore quam mollitia cumque voluptates illum
  voluptas assumenda quia eum exercitationem, recusandae quisquam distinctio
  tenetur neque quibusdam perferendis sit. Distinctio sit soluta maiores, nihil
  consectetur sunt quia itaque tenetur deserunt architecto non, dolorum libero
  pariatur eum beatae alias fugiat odio molestiae earum nemo in nam totam enim
  omnis. Quia eum aliquid dolores nihil inventore voluptatem corporis dolor
  molestias enim reprehenderit modi aspernatur aut perspiciatis voluptatum at
  debitis illum nam esse in saepe harum doloremque, consequuntur, perferendis
  asperiores? A, numquam.
</p>
<form action="">
  <input type="text" [(ngModel)]="input1" name="input1" placeholder="name" />
  <input type="text" [(ngModel)]="input2" name="input2" placeholder="age    " />
  <input type="submit" value="send" (click)="sendParent()" />
</form>
